<!--Call spinner-->
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="rgb(152, 214, 218)" type="timer">
  <p style="font-size: 20px; color: white">Cangando...</p>
</ngx-spinner>

<!--Contenedor I-->
<div class="imgPortada">

  <!--Menú-->
  <br>
  <div class="row">
    <div class="col-md-12">

      <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand btn-white" style="font-weight: bold;">COHOUSING DOMINICANA</a>
        <button id="btnMenu" class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span style="font-weight: bold; color: white;">FILOSOFIA</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" (click)="openMisionModal('Mision')">Misión</a>
                <a class="dropdown-item" (click)="openVisionModal('Vision')">Visión</a>
                <a class="dropdown-item" (click)="openValoresModal('Valores')">Valores</a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span style="font-weight: bold; color: white;">NOSOTROS</span>
              </a>
              <div class="dropdown-menu scrollable-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" (click)="inProcess()">Historia</a>
                <a class="dropdown-item" (click)="inProcess()">Quiénes somos</a>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" style="font-weight: bold; color: white;" (click)="inProcess()">CONTACTENOS</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span style="font-weight: bold; color: white;">TIPOS DE COHOUSING</span>
              </a>
              <div class="dropdown-menu scrollable-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" (click)="inProcess()">Bosque o Verde</a>
                <a class="dropdown-item" (click)="inProcess()">Ciudad</a>
                <a class="dropdown-item" (click)="inProcess()">Playa</a>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" style="font-weight: bold; color: white;" (click)="inProcess()">COOPERATIVA</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" style="font-weight: bold; color: white;" (click)="inProcess()">HACERME SOCIO</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" style="font-weight: bold; color: white;" (click)="inProcess()">INVERTIR</a>
            </li>

          </ul>

        </div>
      </nav>

    </div>
  </div>
  <br>

  <!--Carousel A-->
  <div class="row">
    <div class="col-md-12">

      <ngb-carousel class="center" *ngIf="images_A" [showNavigationArrows]="true"
        [showNavigationIndicators]="showNavigationIndicators">
        <ng-template ngbSlide *ngFor="let image of images_A">
          <div class="picsum-img-wrapper">
            <img [src]="image" alt="Random slide" style="width: 1500px; height: 500px;">
          </div>
        </ng-template>
      </ngb-carousel>

    </div>
  </div>

  <!--Section A-->
  <br>
  <section style="background-color: rgb(28, 211, 141);">
    <p>Sessión A</p>
  </section>

</div>



<!--Automatic Publicity Modal -->
<ng-template #automaticPublicityModal let-modal class="modal-dialog">
  <div class="modal-header">
    <h3 class="modal-title">Anuncios</h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <!--Misión-->
    <div class="row">
      <div class="col-sm-12">
        <strong class="center templateHeader">Encontré algo interesante para ti</strong>
        <br>
        <div class="center" [innerHTML]="automaticPublicityPortada.Body">
        </div>
      </div>
      <!--/.col-->
    </div>

  </div>
</ng-template>



<!--Mision Modal -->
<ng-template #misionModal let-modal class="modal-dialog">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <!--Misión-->
    <div class="row">
      <div class="col-sm-12">
        <div class="card border-primary templateBodyColor">
          <br>
          <strong class="center templateHeader">Misión</strong>
          <div class="card-body">
            <div>
              <span [innerHTML]="portada.Body" class="templateStyle"> </span>
            </div>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>

  </div>
</ng-template>


<!--Visión Modal -->
<ng-template #visionModal let-modal class="modal-dialog">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="row">
      <div class="col-sm-12">
        <div class="card border-primary templateBodyColor">
          <br>
          <strong class="center templateHeader">Visión</strong>
          <div class="card-body">
            <div>
              <span [innerHTML]="portada.Body" class="templateStyle"> </span>
            </div>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>

  </div>
</ng-template>


<!--Valores Modal -->
<ng-template #valoresModal let-modal class="modal-dialog">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="row">
      <div class="col-sm-12">
        <div class="card border-primary templateBodyColor">
          <br>
          <strong class="center templateHeader">Valores</strong>
          <div class="card-body">
            <div>
              <span [innerHTML]="portada.Body" class="templateStyle"> </span>
            </div>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>

  </div>
</ng-template>